[type="radio"] + .signup-avatar {
  cursor: pointer;
}

[type="radio"]:checked + .signup-avatar {
  outline: 3px solid #5bc0de;
}

img {
  border-radius: 50%;
}

.logo {
  max-width: 200px;
  height: auto;
}

.card-avatar {
  border-radius: 50%;
  max-width: 200px;
}

.signup-avatar {
  border-radius: 50%;
  max-width: 100px;
  position: relative;
  left: -10px;
}

.navbar {
  margin-bottom: 30px;
}

.nav-link {
  color: #495057;
}

.nav-link:hover {
  color: #495057;
}

.score-badge {
  font-size: 20px;
  border-radius: 50%;
}

.user-options {
  background-color: inherit;
  margin-bottom: 10px;
  color: inherit;
}

.delete-button {
  color: #7b7b7b;
}

.delete-button:hover {
  color: #555555;
}
